<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>学生违纪管理-辅导员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/css/public.css" media="all" />
</head>
<body>
<center>
    <br><br>
<form class="layui-form" >
    <button type="button" class="layui-btn" id="uploadFile">
        <i class="layui-icon">&#xe67c;</i>上传文件
    </button>
</form>
</center>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/page/news/newsList.js"></script>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#uploadFile' //绑定元素
            ,url: '/upload' //上传接口
            ,accept: 'file'
            ,exts: 'doc|docx|xlsx|xls|img|png|jpg|JPEG|pdf'
            ,done: function(res){
                //如果上传失败
                if(res.status == 200){
                    layer.msg('上传成功');
                }else{
                    layer.msg('上传失败');
                }
            }
            ,error: function(){
                //请求异常回调
                //alert(res);
            }
        });
    });
</script>
</body>
</html>